html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.landing {
  height: 100%;
}

.navbar-nav > li{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* Full-width container */
  z-index: 1060;
  /* High z-index to appear above other elements */
  padding: 10px;
  /* Optional padding for spacing */
  pointer-events: none;
  /* Prevent container from blocking clicks below */
}

#alert-container .alert {
  pointer-events: auto;
  /* Allow interactions with alert elements */
  margin-bottom: 5px;
  /* Optional spacing between alerts */
  animation: fadeIn 0.5s ease-in-out;
}
 
.inner-message {
  margin: 0 auto;
}

.card-img-left {
  width: 250px;
  height: auto;
  object-fit: cover;
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.modal-img {
  width: 500px;
  height: auto;
  object-fit: cover;
}

button {
  pointer-events: auto;
}