html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.landing {
  height: 100%;
}

.navbar-nav > li{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.inner-message {
  margin: 0 auto;
}

.card-img-left {
  width: 250px;
  height: auto;
  object-fit: cover;
}